<!-- <h1>Edit <%= @artist.name %></h1>

<form action="/artists/<%= @artist.id %>" method="POST" />
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>Name:
    <input type="text" name="name" value="<%= @artist.name %>" />
  </label>

  <label>Genre:
    <input type="text" name="genre" value="<%= @artist.genre %>"/>
  </label>

  <label>Photo URL:
    <input type="text" name="photo_url" value="<%= @artist.photo_url %>" />
  </label>
  <button>Submit!</button>

</form>
 -->

<h1>Update!</h1>

<%= form_for @artist, url: {action: "update"} do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :genre %>:
  <%= f.text_field :genre %><br />

  <%= f.label :photo_url %>:
  <%= f.text_field :photo_url %><br />

  <%= f.submit "Update" %>
<% end %>