<!-- <h1>Add A New Artist</h1>
<form action="/artists" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>Name:
    <input type="text" name="name" />
  </label>

  <label>Genre:
    <input type="text" name="genre" />
  </label>

  <label>Photo URL:
    <input type="text" name="photo_url" />
  </label>
  <button>Submit!</button>
</form> -->
<h1>Add A New Artist</h1>

<%= form_for @artist, url: {action: "create"} do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :genre %>:
  <%= f.text_field :genre %><br />

  <%= f.label :photo_url %>:
  <%= f.text_field :photo_url %><br />

  <%= f.submit "Create" %>
<% end %>
